<h1>E-Learning Hilfe</h1>
<p><i>Hinweis</i>: Für die Funktionen im E-Learning-Bereich sind keine Anmeldung
und keine Berechtigung notwendig.
Es werden keine personalisierten Funktionen angeboten oder Daten gespeichert.</p>

<h2>E-Learning-Einstiegsseite</h2>
Auf der Einstiegsseite wird die Liste der Prüfungsbereiche mit der Möglichkeit der
Auswahl eines jeweiligen Prüfungsbereichs angezeigt. Der Aktionslink "<abbr title='Verordnung über die Beförderung gefährlicher Güter auf
Binnenwasserstraßen'>ADN</abbr> Test starten"
gilt für den jeweils ausgewählten Prüfungsbereich.

<h2>Individuellen Test erstellen</h2>
Diese Funktion steht Ihnen auf der Einstiegsseite zur Verfügung.
<ol>
	<li>Wählen Sie einen Prüfungsbereich durch Klicken auf das jeweilige Optionsfeld aus.</li>
	<li>Klicken Sie auf "ADN Test starten".</li>
	<li>Das ADN-System erstellt in Abhängigkeit des Prüfbereiches einen Online-Test entsprechend des <abbr title="Multiple Choice" lang="en">MC</abbr>-Prüfungsteils einer Prüfung.</li>
	<li>Das ADN-System zeigt die Fragenübersicht an.</li>
</ol>

<h2>Fragenübersicht</h2>
<p>Diese Funktion steht Ihnen nach der Generierung des Online-Tests zur Verfügung.</p>
<p>Das ADN-System zeigt die generierten Fragen, dargestellt als Spalte "Frage" mit einer vorangestellten Fragennummer in einer Übersicht an. Die folgende Spalte mit der Überschrift "Beantwortet" hat  initial für jede Frage den Wert "nein". Erst nach Beantwortung der jeweiligen Frage ändert sich der Wert bei erneutem Aufruf der Liste auf "ja". Eine weitere Tabellenspalte der Fragen-Übersichtsdarstellung beinhaltet für jede Frage initial die Aktion "Frage beantworten". Nach Beantwortung der Frage zeigt das System in der Übersichtsdarstellung stattdessen die Aktion "Frage erneut beantworten" mit der Möglichkeit der Ausführung an.</p>


<h2>Weiter- oder zurückblättern bzw. zurück zur Fragenübersicht</h2>
Diese Funktion steht Ihnen auf der Seite einer einzelnen Frage zur Verfügung.
<ol>
	<li>Wählen Sie eine Antwort aus, bestätigen Sie diese durch Betätigen des Buttons "Antwort bestätigen" und klicken Sie auf "Nächste Frage" bzw. "Vorige Frage".</li>
	<li>Das ADN-System speichert die Antwort und zeigt die nächste bzw. vorige Frage an.</li>
	<li>Nach Betätigung des Buttons "zurück zur Fragenübersicht" gelangt man zurück zur Fragenübersicht.</li>
</ol>
Hinweis: Blättern Sie ohne Antwort weiter oder zurück, speichert das ADN-System zwar keine Daten, zeigt die nächste bzw. vorige Frage an und gibt eine Statusmeldung aus "Sind Sie sicher, dass Sie fortfahren möchten, ohne diese Frage zu beantworten?" Mit Wahl von "OK" bzw. "Abbrechen" kann der Dialog beendet werden. 

<h2>E-Learning-Test beenden</h2>
Diese Funktion steht Ihnen auf der Seite der Fragenübersicht zur Verfügung.
<ol>
	<li>Möchten Sie den Test beenden, wechseln Sie bitte in die Übersichtsdarstellung der Fragen und betätigen Sie den Button "Test beenden und Ergebnis anzeigen".</li>
	<li>Das ADN-System zeigt eine Sicherheitsabfrage "Möchten Sie den Test wirklich beenden?" und zwei Aktionsknöpfe "Test beenden und Ergebnis anzeigen" und "zurück zur Fragenübersicht" an.</li>
	<li>Klicken Sie auf "Test beenden und Ergebnis anzeigen".</li>
	<li>Das ADN-System stellt in der Fragenübersicht die richtig beantworteten Fragen mit grüner Hintergrundfarbe sowie die falsch beantworteten Fragen mit roter Hintergrundfarbe dar.</li> 
	<li>Des weiteren erscheint oberhalb der Tabelle der Fragen das Testergebnis mit der Meldung wie viele Fragen richtig beantwortet wurden und wie viele Punkte erzielt wurden.</li>
	<li>Ein Aktionslink "Testergebnis als PDF downloaden" bietet die Möglichkeit, das Testergebnis in einer Datei zur Verfügung zu stellen.</li>
	<li>Der Aktionslink "Neuen ADN Test starten" führt zum Beginn eines ADN Tests.</li>
</ol>

<h2>Lösungsbogen herunterladen</h2>
Diese Funktion steht Ihnen auf der Seite der Fragenübersicht zur Verfügung.
<ol>
	<li>Klicken Sie auf "Testergebnis als PDF downloaden".</li>
	<li>Das ADN-System zeigt den Report E-Learning Lösungsbogen an: Der Report listet alle Fragen mit gegebener und richtiger Antwort auf. Je Frage:
	<ul>
		<li>Fragentext</li>
		<li>Gegebene (Ihre) Antwort</li>
		<li>Richtige Antwort</li>
	</ul>
	</li>
	<li>Laden Sie den Report E-Learning Lösungsbogen herunter (siehe Abschnitt "Dateien herunterladen").</li>
</ol>

<h2>Dateien herunterladen</h2>
Bitte vergewissern Sie sich vor der Nutzung, welchen Browser Sie verwenden und gehen Sie im Weiteren anhand des für Sie passenden Schemas vor. Wir beschreiben hier zwei Anwendungsszenarien, nämlich die Nutzung von Internet Explorer und von Mozilla Firefox, beide unter dem Betriebssystem Windows. 

<h3>Internet Explorer</h3>
Nachdem Sie auf "... downloaden" geklickt haben, erscheint ein Dialogfeld "Dateidownload". Sie können nun auf zwei verschiedene Weisen vorgehen:
<ol>
	<li>Sie können die Datei <b>abspeichern</b>. Daraufhin öffnet sich ein Windows-Dialogfeld, wo Sie u. a. den genauen Speicherort angeben können. Nach dem Abspeichern können Sie die Datei dann über ein weiteres Dialogfeld öffnen.</li>
	<li>Sie können die Datei sofort <b>öffnen</b>. Es öffnet sich das Standardprogramm für die Anzeige von PDF-Dateien (z. B. Adobe Reader).</li>
</ol>

<h3>Mozilla Firefox</h3>
Nachdem Sie auf "... downloaden" geklickt haben, erscheint ein Dialogfeld "Öffnen von ...". Sie können nun auf zwei verschiedene Weisen vorgehen:
<ol>
	<li>Sie können die Datei <b>abspeichern</b>. Es öffnet sich der Download-Manager von Mozilla Firefox. Durch Doppelklick auf den Titel können Sie die Datei nun öffnen.</li>
	<li>Sie können die Datei sofort <b>öffnen</b>. Es öffnet sich das Standardprogramm für die Anzeige von PDF-Dateien (z. B. Adobe Reader).</li>
</ol>

