<div class="ilMainHeader">
	<div style="padding:2px 0px 9px 20px; float: left;">
		&nbsp;<!-- <img style="vertical-align:middle; padding:0px 15px 0px 0px;" width="44" height="44" border="0" src="{HEADER_ICON}" alt="ILIAS Logo"/>-->
	</div>
	<!-- BEGIN top_section -->
	<!-- BEGIN userisloggedin -->
	<div class="ilLogin">
		{TXT_LOGIN_AS} {USERNAME} » <a class="ilLogin" href="{LINK_LOGOUT2}" target="_top">{TXT_LOGOUT2}</a>
	</div>
	<!-- END userisloggedin -->
	<!-- END top_section -->
	<div class="ilMainMenu">
	<ul class="ilMainMenu">		
		<!-- BEGIN submenu -->
		<li class="ilMainMenu">{SUBMENU}</li>
		<!-- END submenu -->
	</ul>
	<div style="clear:both;"></div>
	</div>
	<div style="clear:both;"></div>
</div>