<tr class="{CSS_ROW}">
	<td class="std small">
		{VAL_NUMBER}
	</td>
	<td class="std small">
		{VAL_LAST_NAME}
	</td>
	<td class="std small">
		{VAL_FIRST_NAME}
	</td>
	<td class="std small">
		{VAL_BIRTHDATE}
	</td>
	<td class="std small">
		{VAL_VALID}
	</td>
	<!-- BEGIN archived_on -->
	<td class="std small">
		{VAL_ARCHIVED_ON}
	</td>
	<!-- END archived_on -->
	<td class="std small">
		{VAL_CERTIFICATE_TYPE}
	</td>
	<td class="std small">
		{VAL_CERTIFICATE_STATUS}
	</td>
	<td class="std small">
		<!-- BEGIN action --><div><a href="{HREF_CMD}">{TXT_CMD}</a></div><!-- END action -->
	</td>
</tr>
