P.StandardNummer {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.Untertitel2 {LINE-HEIGHT: normal;  MARGIN: 3pt 0pt 3pt 21.3pt;  FONT-FAMILY: "Cambria","serif";  FONT-SIZE: 12pt; }

P.Bilduntertitel {LINE-HEIGHT: normal;  MARGIN: 6pt 0pt 12pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  FONT-WEIGHT: bold; }

P.Seitenumbruchneu {LINE-HEIGHT: 115%;  MARGIN: 0pt 0pt 10pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 1pt; }

SPAN.IndexZchn {FONT-STYLE: italic;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

P.WordSection1 {page: WordSection1; }

SPAN.StandardBildZchn {FONT-FAMILY: "Arial","sans-serif"; }

P.Standardfett {LINE-HEIGHT: normal;  MARGIN: 6pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.StandardBild {TEXT-ALIGN: center;  LINE-HEIGHT: normal;  MARGIN: 12pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

SPAN.IndexfettZchn {FONT-STYLE: italic;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

P.StandardListe {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 90pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 226.8pt; }

P.Seitenumbruch {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 14pt;  FONT-WEIGHT: bold; }

P {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.StandardUnterpunkt {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 106pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 106.35pt; }

P.Vorbedingungen {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

SPAN.StandardfettZchn {FONT-FAMILY: "Arial","sans-serif";  FONT-WEIGHT: bold; }

SPAN.D2HMarkerNumber {DISPLAY: none; }

P.Abschnittswechsel {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 1pt;  FONT-WEIGHT: bold; }

P.TabellenInhalt {LINE-HEIGHT: 13pt;  MARGIN: 0pt 0pt 6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

