<tr class="{CSS_ROW}" {CELL_STYLE}>
	<!-- BEGIN cbox -->
	<td class="std small">
		<input type="checkbox" name="question_id[]" value="{VAL_ID}" />
	</td>
	<!-- END cbox -->
	<td class="std small" {CELL_STYLE} nowrap="nowrap">
		{VAL_NR}
	</td>
	<td class="std small" style="background-color:{COLOR}; {CELL_ST}">
		{VAL_CATALOG_AREA}
	</td>
	<td class="std small" {CELL_STYLE}>
		{VAL_TITLE}
	</td>
	<td class="std small" {CELL_STYLE}>
		{VAL_QUESTION}
	</td>
	<td class="std small" {CELL_STYLE}>
		{VAL_STATUS}
	</td>
	<td class="std small" {CELL_STYLE}>
		<!-- BEGIN action --><div><a href="{HREF_CMD}">{TXT_CMD}</a></div><!-- END action -->
	</td>
</tr>
