<tr class="{CSS_ROW}">
	<!-- BEGIN cbox_inv -->
	<td class="std small">
		<input type="checkbox" name="cand_id[]" value="{VAL_ID}" />
	</td>
	<!-- END cbox_inv -->
	<td class="std small">
		{VAL_NAME}
	</td>
	<td class="std small">
		{VAL_FIRST_NAME}
	</td>
	<td class="std small">
		{VAL_BIRTHDATE}
	</td>
	<td class="std small">
		{VAL_STREET} {VAL_HNO}, {VAL_ZIP} {VAL_CITY}, {VAL_COUNTRY}
	</td>
	<td class="std small">
		{VAL_REGISTERED_BY}
	</td>
	<td class="std small">
		{VAL_DEADLINE}
	</td>
	<!-- BEGIN certificate -->
	<td class="std small">
		{VAL_CERTIFICATE}
	</td>
	<!-- END certificate -->
	<!-- BEGIN cbox -->
	<td class="std small">
		<input type="checkbox" name="cand_id[]" value="{VAL_ID}"{VAL_ASSIGNED} />
	</td>
	<!-- END cbox -->
	<!-- BEGIN cbox_static -->
	<td class="std small">
		{VAL_ASSIGNED}
	</td>
	<!-- END cbox_static -->
</tr>
