<tr class="{CSS_ROW}">
	<!-- BEGIN cbox -->
	<td class="std small">
		<input type="checkbox" name="ef_id[]" value="{VAL_ID}" />
	</td>
	<!-- END cbox -->
	<td class="std small">
		{VAL_NAME}
	</td>
	<td class="std small">
		{VAL_STREET}
	</td>
	<td class="std small">
		{VAL_STREET_NO}
	</td>
	<td class="std small">
		{VAL_CODE}
	</td>
	<td class="std small">
		{VAL_CITY}
	</td>
	<td class="std small">
		<!-- BEGIN action --><div><a href="{HREF_CMD}">{TXT_CMD}</a></div><!-- END action -->
	</td>
</tr>
