<tr class="{CSS_ROW}">
	<!-- BEGIN cbox -->
	<td class="std small">
		<!-- BEGIN box -->
		<input type="checkbox" name="ass_id[]" value="{VAL_ID}"/>
		<!-- END box -->
	</td>
	<!-- END cbox -->
	<td class="std small">
		{VAL_LAST_NAME}
	</td>
	<td class="std small">
		{VAL_FIRST_NAME}
	</td>
	<td class="std small">
		{VAL_BIRTHDATE}
	</td>
	<td class="std small">
		{VAL_PARTICIPATED}
	</td>
	<td class="std small">
		{VAL_RESULT}
	</td>
	<!-- BEGIN result_details -->
	<td class="std small">
		{VAL_RESULT_DETAILS}
	</td>
	<!-- END result_details -->
	<!-- BEGIN blocked -->
	<td class="std small">
		{VAL_BLOCKED_UNTIL}
	</td>
	<!-- END blocked -->
	<td class="std small">
		<!-- BEGIN action --><div><a href="{HREF_CMD}">{TXT_CMD}</a></div><!-- END action -->
	</td>
</tr>
